@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    color: #0D4000;
    font-family: 'El Messiri', sans-serif;
    font-size: calc(16px + 0.5vmax);
    background-color:#6D8068;
}

@keyframes bg_color {
    from {background-color: black;}
    to {background-color: #282828;}
}

a {
    color: #90A989;
    text-decoration: none;
}

a:visited {
    color:#4A6443;
}

a:hover, a:focus {
    text-decoration: underline;

}

.popup {
    align-items: center; 
    justify-content: center;
    text-align: center; 
    height: 100vh;
    
    position: fixed;
    z-index: 20;
    
    padding: 50px;
    background: rgba(0, 0, 0, .75);
    
    display: none;
    
    color:white;
    
}

/*HOMEPAGE STYLING*/

#container {
    height:100vh;
    width:1067.8472vh;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.instructions_icon {
    color:white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    font-weight:700;
    font-size:1.3rem;
    padding:.2rem 1rem;
    margin:1rem;
    border: 1px white solid;
    opacity:.75;
    
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    transition:1s;
}

.instructions {
    position:fixed;
    left:5rem;
    top:.75rem;
    max-width:80vw;
    
    z-index:3;
    color:white;
    font-size:1.2rem;
    font-weight:400;
    visibility:hidden;
}

.instructions_icon:hover {
    cursor:pointer;
    background-image: linear-gradient(rgba(148, 3, 252, 0.5), rgba(3, 252, 78, 0.5), rgba(148, 3, 252, 0.5));
}

.instructions_icon:hover .instructions{
    visibility:visible;
    animation: fadein ease 1s;
}

p {
    margin:.35rem 1rem;
    padding:.35rem 1rem;
    font-weight:400;
    line-height:1.5em;
    max-width:800px;
}

hr {
    background-color:#92AD8B;
    border: none;
    height: .1px;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

sup { 
    vertical-align: top; 
    font-size: 0.6em; 
    line-height:1.5em;
    padding:0em 0.4em 0em .3em;
}

sup.footnote {
    color:#BBDAB3;
}

footnote { 
    margin:0px;
    padding:5px;
    font-size: .8em; 
    line-height:1.5em;
    max-width:800px;
}

.smalltext {
    font-size:.7em;
}

.caption {
    font-size:.8em;
}

/*don't use this for text blocks that start a modal, cause then the top margin/padding will be be too tight*/
.compresstext {
    margin-top:-.3em;
    line-height:1.4em;
}

.blocktext {
    border:1px #6D8068 solid;
    width: 60%;
}

/*(ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬)
Why doesn't the text center????'*/
.modal-content .blocktext p {
    margin:0 auto;
    width:95%;
    padding:1em;
    line-height: 1.65rem;
    font-size:1.3rem;
    
}


.fg {
    position:absolute;
    z-index:3;  
}

.fly {
    left:200vh;
    animation: fly 20s ease-in infinite;
}

@keyframes fly {
    0% {margin-top:-20%;}
    80% {margin-top: 120%;}
    100% {margin-top: 120%;}
}

.flutter {
  animation: flutter 200s linear infinite;  
}

@keyframes flutter {
    0% {margin-left:1100vh;margin-top:0vh;}
    10% {margin-left:1000vh;margin-top:30vh;}
    20% {margin-left:900vh;margin-top:20vh;}
    30% {margin-left:800vh;margin-top:10vh;}
    40% {margin-left:700vh;margin-top:30vh;}
    50% {margin-left:600vh;margin-top:20vh;}
    60% {margin-left:400vh;margin-top:40vh;}
    70% {margin-left:250vh;margin-top:50vh;}
    80% {margin-left:100vh;margin-top:60vh;}
    90% {margin-left:-20vh;margin-top:60vh;}
    100% {margin-left:-20vh;margin-top:60vh;}
}

.crawl {
    left: -20vh;
    top:80vh;
    animation: crawl 200s ease-in infinite;  
    animation-delay:6s;
}

@keyframes crawl {
    0% {
        transform: translate(-20vh, 10vh) rotate(20deg);
        }
    90% {
        transform: translate(1100vh, 10vh) rotate(20deg);
        }
    100% {
        transform: translate(1100vh, 10vh) rotate(20deg);
        }
}

.crawl1 {
  animation: crawl1 200s ease-in infinite;  
}

@keyframes crawl1 {
    0% {margin-left:-10vh;margin-top:-10vh;}
    90% {margin-left:1100vh;margin-top:110vh;}
    100% {margin-left:1100vh;margin-top:110vh;}
}

.crawl2 {
    animation: crawl2 200s ease-in infinite;  
}

@keyframes crawl2 {
    0% {margin-left:900vh;margin-top:110vh;}
    90% {margin-left:-10vh;margin-top:-10vh;}
    100% {margin-left:-10vh;margin-top:-10vh;}
}



/* MODALS */

/*(ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬)
Why does the button keep on getting horizontally squished when you decrease the vh?*/
button {
    width:1.5vh;
    height:1.5vh;
    border-radius:50%;
    border: 2px solid white;
    position:absolute;
    opacity:0.8;
    filter:blur(3px);
    z-index:2;
}

.chapter0 {
    background-color:darkred;
}

.chapter1 {
    animation: buttoncolor1 ease-in 4s infinite alternate;
}

@keyframes buttoncolor1 {
  0%   {background-color:white;}
  100% {background-color:black;}
}

.chapter2 {
    animation: buttoncolor2 ease-in 4s infinite alternate;
}

@keyframes buttoncolor2 {
  0%   {background-color:red;}
  100% {background-color:black;}
}

.chapter3 {
    animation: buttoncolor3 ease-in 4s infinite alternate;
}

@keyframes buttoncolor3 {
  0%   {background-color:blue;}
  100% {background-color:black;}
}

.chapter4 {
    animation: buttoncolor4 ease-in 4s infinite alternate;
}

@keyframes buttoncolor4 {
  0%   {background-color:white;}
  100% {background-color:black;}
}

.chapter5 {
    animation: buttoncolor5 ease-in 4s infinite alternate;
}

@keyframes buttoncolor5 {
  0%   {background-color:green;}
  100% {background-color:black;}
}

.chapter6 {
    animation: buttoncolor6 ease-in 4s infinite alternate;
}

@keyframes buttoncolor6 {
  0%   {background-color:white;}
  100% {background-color:black;}
}

.chapter7 {
    animation: buttoncolor7 ease-in 4s infinite alternate;
}

@keyframes buttoncolor7 {
  0%   {background-color:orange;}
  100% {background-color:black;}
}

.chapter8 {
    animation: buttoncolor8 ease-in 4s infinite alternate;
}

@keyframes buttoncolor8 {
  0%   {background-color:yellowgreen;}
  100% {background-color:black;}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  padding-top: 5vh; /* Location of the box */
  padding-bottom: 5vh;
    left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgba(0,0,0,.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width:1000px;

    color:#6D8068;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    align-content:flex-start;

    position:relative;
    
    animation: fadein ease 2s;
    
}

.modal-content.withbg {
    background-color: rgba(0,0,0,0);
    border: none;
}

.modal-content.withbg p {
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius:20px;
}

.modal-content p {
    width: 80%;
    max-width:800px;
}

.modal-content footnote {
    width: 80%;
    max-width:800px;
}

.modal-content hr {
    width: 80%;
    max-width:800px;
}

.modal-content .img_row {
    text-align:center;
    width:80%; 
    max-width:800px;
}

.modal-content .img_row * {
    display:inline-block;
    width:45%;
    max-height:100%;
    padding:0% 2.5%;
}

.modal-content img {
    max-width:80%;
    max-height:100%;
    padding:10px;
}

.modal-content .poppynoid {
    position:absolute;
    z-index:11;
    width:50%;
    height:auto;
    max-width:none;
    max-height:none;
    
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    
    /* (ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬) 
    What overflow do I need to use to stop the vertical floating animations from doing that jagged elongation of the window each time the poppynoids bob down?? */
    overflow-y:hidden;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, -0px); }     
} 

.flicker1 {
    animation: flickering1 linear 6s infinite alternate;
}

@keyframes flickering1 {
    0% {
    opacity:0.1;
    }
    30% {
    opacity:0.4;
     }
    50% {
    opacity:.3;
    }
    70% {
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

.flicker2 {
    animation: flickering2 linear 8s infinite alternate;
    transition:1s;
}

@keyframes flickering2 {
    0% {
    opacity:0.2;
    }
    10% {
    opacity:0.6;
    }
    30% {
    opacity:0.3;
     }
    50% {
    opacity:.7;
    }
    60% {
    opacity:0.2;
    }
    70% {
    opacity:0.6;
    }
    80% {
    opacity:0.4;
    }
    100% {
    opacity:1;
    }
}

.iframe_container {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive_iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    position:absolute;
    z-index:10;
    right:15px;
    top:5px;
    font-weight: bold;
}

.close:hover, .close:focus {
  color: #DE3F25;
  text-decoration: none;
  cursor: pointer;
}


/* new (failed) tooltip 
.tooltip {
    position: relative;
    display: inline-block;
    filter: brightness(120%);
}

.tooltip .tooltiptext {
    visibility: ;
    filter: brightness(80%);

    background-color: darkseagreen;
    color: white;
    font-size: 75%;
    text-align: left;
    line-height: 150%;

    min-width:20vw;
    min-height:20vw;
    box-shadow: 0 0 20px 8px black inset;
    border-radius:50%;
    padding: 15px;
    
    position: absolute;
    z-index: 3;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
    
  top: 50%;
  right: 100%;
  margin-top: -5px;
    border-radius:50%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/

/* (ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬) COME BACK TO tHIS */
/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline;
    color:#BBDAB3;
    transition:.5s;
}

.tooltip:hover {
    cursor:pointer;
    color:#6D8068;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 75%;
    line-height: 150%;
    text-align: left;
    border: 1px darkseagreen solid;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 11;
    
    top: 100%;
    left: 50%;
    margin-left: -150px; /* Use half of the tooltiptext width (300/2 = 150), to center the tooltip */
}

/*tooltip arrow*/
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent DarkSeaGreen transparent;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
    animation: fadein 1s;
}

/* (ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬) THIS ONLY WORKS WhEN Z-INDEX IS NEGATIVE??? */
/*Remember to figure out how to loop reverse video!!!!*/
.bg_video {
    position:fixed;
    z-index:-1;
    right: 0;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
}

@media only screen and (max-width: 800px) {
  p {
    width:400px;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
    .popup {display: flex;}
    
    html, body {overflow:hidden;}
}

/*SUBPAGE STYLING (OUTDATED)
.centered {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    align-content:flex-start;
    
    width:100%;
    height:100%;
    margin-top:50px;
    
}

.centered img {
    max-width:100%;
    max-height:100%;
}

.backbutton {
    border: none;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    z-index:2;
    bottom:20px;
    right:20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    background-image:url("../images/favicon/favicon_original.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*/