
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    color: #0D4000;
    font-family: 'El Messiri', sans-serif;
    font-size: calc(22px + 0.6vmax);
    background-color:#6D8068;
}

@keyframes bg_color {
    from {background-color: black;}
    to {background-color: #282828;}
}

a {
    color: #990A2E;
    text-decoration: none;
}

a:hover {
    color: #B50930;

}

/*HOMEPAGE STYLING*/

#container {
    height:100vh;
    width:1067.8472vh;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#bg area:hover {
    /*this wont work because technically there isn't an image in any given area, it's all just one big image*/
    filter:blur(2px);
    filter:hue-rotate(180);
}

.fg {
    position:absolute;
    z-index:3;  
}

.fly {
    left:200vh;
    animation: fly 20s ease-in infinite;
}

@keyframes fly {
    0% {margin-top:-20%;}
    80% {margin-top: 120%;}
    100% {margin-top: 120%;}
}

.flutter {
  animation: flutter 200s linear infinite;  
}

@keyframes flutter {
    0% {margin-left:1100vh;margin-top:0vh;}
    10% {margin-left:1000vh;margin-top:30vh;}
    20% {margin-left:900vh;margin-top:20vh;}
    30% {margin-left:800vh;margin-top:10vh;}
    40% {margin-left:700vh;margin-top:30vh;}
    50% {margin-left:600vh;margin-top:20vh;}
    60% {margin-left:400vh;margin-top:40vh;}
    70% {margin-left:250vh;margin-top:50vh;}
    80% {margin-left:100vh;margin-top:60vh;}
    90% {margin-left:-20vh;margin-top:60vh;}
    100% {margin-left:-20vh;margin-top:60vh;}
}

.crawl {
    left: -20vh;
    top:80vh;
    animation: crawl 200s ease-in infinite;  
    animation-delay:6s;
}

@keyframes crawl {
    0% {
        transform: translate(-20vh, 10vh) rotate(20deg);
        }
    90% {
        transform: translate(1100vh, 10vh) rotate(20deg);
        }
    100% {
        transform: translate(1100vh, 10vh) rotate(20deg);
        }
}

.crawl1 {
  animation: crawl1 200s ease-in infinite;  
}

@keyframes crawl1 {
    0% {margin-left:-10vh;margin-top:-10vh;}
    90% {margin-left:1100vh;margin-top:110vh;}
    100% {margin-left:1100vh;margin-top:110vh;}
}

.crawl2 {
    animation: crawl2 200s ease-in infinite;  
}

@keyframes crawl2 {
    0% {margin-left:900vh;margin-top:110vh;}
    90% {margin-left:-10vh;margin-top:-10vh;}
    100% {margin-left:-10vh;margin-top:-10vh;}
}



/* MODALS */

/*Why does the button keep on getting horizontally squished when you decrease the vh?*/
button {
    background-color:;
    width:1.5vh;
    height:1.5vh;
    border-radius:50%;
    border: 2px solid white;
    position:absolute;
    opacity:0.8;
    filter:blur(3px);
    animation: buttoncolor ease-in 4s infinite alternate;
}


@keyframes buttoncolor {
  0%   {background-color:lightgoldenrodyellow;}
  50%  {background-color:darkolivegreen;}
  100% {background-color:darkseagreen;}
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  background-color: rgba(0,0,0,.5);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
    
    color:#6D8068;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    align-content:flex-start;
    
    position:relative;
    
}


/* The Close Button */
.close {
  color: #aaaaaa;
  position:absolute;
    z-index:3;
    right:1%;
    top:1%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/*SUBPAGE STYLING*/
/*figure out how to center text vertically but also not cut it out when it overflows (height:100vh doesnt work)*/
.centered {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    align-content:flex-start;
    
    width:100%;
    height:100%;
    margin-top:50px;
    
}

.centered img {
    max-width:100%;
    max-height:100%;
}

p {
    margin:10px;
    padding:10px;
    font-weight:400;
    width:800px;
    animation: fadein ease 3s;
    z-index:3;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

.backbutton {
    border: none;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    z-index:2;
    bottom:20px;
    right:20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    background-image:url("../images/favicon/favicon_original.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: DarkSeaGreen;
  color: white;
  font-size: 75%;
  line-height: 150%;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -150px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent DarkSeaGreen transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.opioidsunrise {
  background-image: url("images/afghan poppy field sun rise.jpg");
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}

/*Remember to figure out how to loop reverse video!!!!*/
#bg_video {
    position:fixed;
    z-index:1;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
}

.neoliberalbreeding {
  background-image: url("vids/dreamflowers.mp4");
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}

.scoredpoppy {
  background-image: url("images/scoredpoppy.png");
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

@media only screen and (max-width: 800px) {
  p {
    width:400px;
  }
}